<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- mysql 低版本才可用，否则建表报错-->
       <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <!--mysql 高版本数据库使用-->
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/self
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            root
        </property>

        <property name="hibernate.current_session_context_class">thread</property>

        <!-- 可以将向数据库发送的sql显示出来 -->
        <!--有了 logback 日志配置-->
        <property name="hibernate.show_sql">false</property>
        <!-- 格式化sql -->
        <property name="hibernate.format_sql">true</property>


        <!-- 自动创建表 -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- 用于设置事务提交方式 -->
        <property name="hibernate.connection.autocommit">false</property>



        <!-- List of XML mapping files -->
        <mapping resource="RcsRoleEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>